<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Sobre</h2>
        <hr style="
        width: 60%; 
        height: 4px; 
        background: #ffffff; 
        border: none; 
        margin: 10px auto; 
        border-radius: 50px; /* Deixa as pontas arredondadas */
      ">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>TEXTO AQUI</p>
      </div>
      <div class="col-lg-4">
        <p>TEXTO AQUI</p>
      </div>
      
      </div>
    </div>
  </div>
</section>
