<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Sobre</h2>
        <hr style="
        width: 60%; 
        height: 4px; 
        background: #ffffff; 
        border: none; 
        margin: 10px auto; 
        border-radius: 50px; /* Deixa as pontas arredondadas */
      ">
      </div>
    </div>
    <div class="row" style="color:#bbb;text-align:center;padding:10px">
      <p>O Laboratório de Sistemas Autônomos (LSA) da PUCRS é um hub multidisciplinar 
        para a criação de projetos de engenharia voltados à robótica e microeletrônica, 
        visando apoiar projetos de pesquisa na graduação e pós-graduação, desenvolvidos 
        em parceria com outras instituições de ensino, pesquisa e indústria. Aqui, 
        são desenvolvidos projetos para aplicações de veículos não-tripulados, robótica para 
        enxames, internet-das-coisas, sistemas autônomos, computação embarcada, 
        entre outros, explorando temas contemporâneos como a prevenção e atuação em 
        desastres naturais, sustentabilidade e inteligência artificial. </p>
    </div>
  </div>
</section>
