<!DOCTYPE html>
<html>
{% include head.html %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">

<body id="page-top" class="index">
  {% include nav.html %}
  {% include header.html %}
  {% include portfolio_grid.html %}
  {% include projects.html %}
  {% include about.html %}

  {% if site.contact == "static" %}
  {% include contact_static.html %}
  {% elsif site.contact == "disqus" %}
  {% include contact_disqus.html %}
  {% else %}
  {% include contact.html %}
  {% endif %}

  {% include footer.html %}
  {% include modals.html %}
  {% include js.html %}
</body>

</html>
